* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 2rem;
  gap: 2rem;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.flex-d-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.nav-list {
  gap: 1rem;
}
