* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 2rem;
  gap: 2rem;
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 0.5rem;
}

.flex-d-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.nav-list {
  gap: 1rem;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.popup {
  padding: 1rem;
  width: 90%;
  height: 80%;
  border: 2px solid black;
  margin: 2rem auto;
}

.close {
  position: relative;
  left: 45%;
  margin-top: 1rem;
}

.show-name {
  margin: 0 auto;
}

.details {
  grid-template-columns: repeat(2, 20rem);
  justify-items: center;
  margin: 0 auto;
}

button {
  padding: 1rem;
  margin: 1rem;
}

footer > span {
  padding: 2rem 1.5rem;
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  width: 100%;
}
