* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 2rem;
  gap: 2rem;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  display: none;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 1rem 1rem 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 0.5rem;
}

.flex-d-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.nav-list {
  gap: 1rem;
}

/*
* Movies List
*/
.content {
  margin: 3rem 0;
}

.movies-item {
  width: 90%;
}

.movies-item .movie {
  flex: 0 0 auto;
  width: 20%;
  padding: 0.5rem;
}

.movies-item .movie .image-container .image {
  width: 100%;
}

.movies-item .movie .movies-body .movies-title .fa-heart {
  font-size: 1.3rem;
}

.movies-item .movie .movies-body .group-btns > div {
  margin: 1rem 0 0;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.popup {
  overflow: auto;
  position: fixed;
  top: 0%;
  left: 5%;
  padding: 1rem;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  background-color: #fff;
  margin: 2rem auto;
  z-index: 5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
}

.show-name {
  margin: 0 auto;
}

.details {
  margin: 0 auto;
}

.details li {
  padding: 0;
  flex: 0 0 auto;
  width: 50%;
}

.col-4 {
  flex: 0 0 auto;
  padding: 1rem;
}

.details-Movie {
  width: 25%;
}

.details-Movie img {
  width: 100%;
}

.display-comments {
  width: 30%;
}

.form-comments {
  width: 30%;
}

form,
input,
textarea {
  margin: 1rem;
  font-size: 1rem;
  font-family: sans-serif, Arial, Helvetica;
}

button {
  padding: 1rem 2rem;
}

footer > span {
  padding: 2rem 1.5rem;
  display: block;
  border: 2px solid black;
  width: 100%;
}

.reservation-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  background: #ffff;
  top: 0;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 2%;
  width: 60%;
}

.pop-up-head {
  display: flex;
  justify-content: flex-end;
}

.pop-up-head > img {
  content: url('./img/svg/close-bold.svg');
  height: 2rem;
  right: 0;
  position: absolute;
}

.contient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contient-in-backgound {
  position: relative;
  z-index: -100;
  filter: blur(4px);
}

.movie-Image {
  padding: 2rem 0;
  max-width: 100%;
}

.summary {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.no-overflow {
  overflow: hidden;
}

.movie-info {
  display: flex;
  gap: 2rem;
}

.movie-info-right,
.movie-info-left {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

#comment-form,
#comment-name,
#comment-message {
  padding: 1rem;
}

#comment-name:hover,
#comment-message:hover,
.comment-btn:hover {
  border: 4px solid grey;
}
